<!DOCTYPE html>
<head>
	<title>The first time with node js</title>
	<style>
		body{background-color:#F8F8FF;}

		.header {
			height: 90px;
			background-color:#97FFFF;
			}
		.section {
				height:700px;
				width:500px;
				background-image: url(".../image/beach.jpg");
				/*background-color: green;*/
			}
		.footer {
				height: 100px;
				background-color: #8B8682;
			}
	</style>
</head>
<body>
	<div class="header">
		<img src="../image/logo.png"/>
	</div>
	<div class="section">
		<table>
			<tr>
				
			</tr>
			<tr>
				<td><img src="2.jpg"/></td>
				<td>Hello</td>
				<td></td>
			</tr>
		</table>
		
	</div>
	<div class="footer">
		footer content
	</div>

</body>
</html>