<DOCTYPE html>
	<head>
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- 	<link rel="stylesheet" type="text/css" href="style.css"> -->
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<style>
		body{
			background-color: SlateGray;
		}
		#main {
			height: 800px;
			width: 400px;
			background-color: green;
			text-align: center;
			padding-left: 100px;
			margin-left: 300px;
			margin-top:100px;
			border-radius: 5%;
		}

		</style>
	</head>

	<body>

		 <div class="example">
        <div class="container">
            <div class="row">
                <h2>Horizontal Form</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-2">Email</label>
                        <div class="col-xs-10">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Mật Khẩu</label>
                        <div class="col-xs-10">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>  
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">   
                            <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                        </div>
                    </div>   
                </form>
            </div>
        </div>
    </div>
		<div id="main">
			<h2>ToDO List  page</h2>
			<form method="" action="" name="Listpage">
				<table>
					<tr>
						<td><input type="text"  id="textInput"></input></td>
						<td><button value="submit" id="insert">Insert</button></td>
					</tr>
				</table>
				<table id="table" border="2">
					<thead>
						<th>Checkbox</th>
			    		<th>TodoList</th>
			    		<th>Edit</th>
			    		<th>Delete</th>
			    	</thead>
					<tbody>

					</tbody>
				</table>	
			</form>
		
		</div>
	</body>

	<script>
		$(document).ready(function() {
			$("#insert").click(function() {
				var Insert = $("#textInput").val();
				
				// $("#textInput").append(Insert);
				console.log("This is my insert" + Insert);

				$.post("http://localhost:3000/List",{text:Insert}, function(data) {
					 location.reload();
				});

			});
		// });
			$.get("/data", function(data) {
				if(data) {
					var results = '';
					//console.log(data);
					for(var i = 0; i < data.length; i++) {
						if(data[i]) {
							
							results += "<tr><td><input type=checkbox value=data[i]._status></input>"+"</td><td>" + data[i].list+"</td><td><button id= '" + data[i]._id + "'class=edit>Edit</button>" +"</td><td><button id='" + data[i]._id + "' class='delete'>Delete</button>" +"</td></tr>";
						}
					}
					//Show on web page
					//console.log('results', results);
					//Show on web page
				    console.log('results', results);
				    $('#table tbody').append(results);
				    $('#table button.delete').click(function(event) {
				     event.preventDefault();
				     console.log($(this).attr('id'));
				     var id =$(this).attr('id');
				     $.ajax({
							url: "/delete/" + id,
							type: 'delete',
							data: id,
							dataType: "json",
							success: function (data, textStatus, jqXHR) {
								$(this).remove();

				
				     		location.reload();
								
							//alert("Data deleted");
								    
							},
							error: function (jqXHR, textStatus, errorThrown) {

								    
							}
								});

							});
				    $("#table button.edit").click(function() {
				    	event.preventDefault();
				    	console.log($(this).attr('id'));
				    	var id =$(this).attr('id');
				    	alert("Are you really want edit");
				    	$(this).append(data);
				    	//var form = '<input type="text"  id="textInput"></input>  <button value="submit" id="insert">save</button>'

				    	//$("#table tbody").append(form);
				    	//$("#hi").append($("<div>").load("load.php #posts"));
				    	$.ajax({
							url: '/edit',
							type: 'put',
							data: id,
							dataType: "json",
							success: function (data, textStatus, jqXHR) {
								alert(data);
								location.reload();
								
							},
							error: function (jqXHR, textStatus, errorThrown) {
    
							}
							});
					});
				    	

				   
						
				}else {
					alert("err");
				}
			});



			 
		
				

	});

	</script>
</html>